:root {
    --primary-color: #febd69;
    --primary-shade: #d49644;
}


/* Product Card */
.card_container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    background: white;
}

.product_row {
    display: flex;
    gap: 100px;
    align-items: flex-start;
    margin-top: 125px;
}

.image_wrapper img {
    width: 280px;
    height: auto;
    object-fit: contain;
}

/* Right side content */
.content_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description {
    max-width: 600px;
    line-height: 1.4;
}

/* Product Image */
.card_container img {
    padding: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* Add to Cart Button */
.button {
    padding: 10px 20px;
    background: #ffd814;
    border: 1px solid #fcd200;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
}


.button:hover {
    background: #f7ca00;
}

.card_container:hover .button {
    display: block;
}

/* Rating Align FIXED */
.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Products Grid */
.products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1450px;
    margin: 100px auto;
    gap: 50px;
    justify-items: center;
}

/* Flex Layout for Product Detail */
.product_flexed {
    box-shadow: none;
    display: flex;
    gap: 50px;
    width: 100%;
    min-height: 50vh;
}

.product_flexed h3 {
    padding: 20px 0;
}

.product_flexed .button {
    display: block;
    position: static;
    width: 150px;
    margin-top: 20px;
}

.product_flexed img {
    width: 300px !important;
}

/* Mobile Responsive */
/* Responsive */
@media (max-width: 768px) {
    .product_row {
        flex-direction: column;
        text-align: center;
    }

    .image_wrapper img {
        width: 60%;
        margin: 0 auto;
    }
}