.payment_header{
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(234, 237, 237);
    /* background-color: red; */
    margin-top: 125px;

}

.payment{
    padding: 30px;

}
.flex{
    display: flex;
    gap: 20px;
    padding: 30px;

}
.flex h3{
    min-width: 30px;
}

.flex img{
    width: 80px;
}
.flex div{
    height: auto !important;
}

.payment_card_container{
    max-width: 350px;
    width: 100%;
}
.payment_price{
    padding: 20px;
}

.payment_price >div{
    display: flex;
    font-size: 16px;
    gap: 10px;
    padding: 30px;
}
.payment_detail button{
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: var(-- primary-color);
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}