
*{
    padding: 0;
    margin: 0;
}
.outer_wrapper{
    position: fixed;
    top: 0;
    z-index: 1000;
}
.header_wrapper{
    background: #FF6200;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 70px;
    z-index: 1000;
    
}

.left_wrapper{
    /* max-width: 250px; */
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_wrapper img{
    width: 80%;
    margin-left: 20px;
    vertical-align: middle;
    padding-top: 5px;
}

.map_icon{
    color: white;
}

.deliver_wrapper{
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    /* gap: 30px; */
    padding: 5px;
    font-weight: bold;
    color: white;
}
.deliver_wrapper p{
    font-size: 10px;
    width: 50px;
}

.search_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
    /* width: 100%; */
    width: 50%;
}

.search_wrapper select, .search_wrapper input{
    outline: 1px solid gray;
    padding: 10px;
    font-weight: bold;
}
.search_wrapper input{
    background-color: white;
    /* color: white; */
}
.search_wrapper select{
    border: none;
    background-color: rgb(228, 216, 216);
    width: 25%;
}

.search_wrapper input{
    width: 100%;
    border: 1px solid white;
    /* margin-right: -2px; */
    margin-right: 2px;
}

.search_wrapper:focus-within{
    border: 2px solid rgb(235, 161, 173);
}
.search_icon{
    background-color: #a9176f;
    padding: 5px;
    color: white;
}
.right_wrapper{
    /* max-width: 450px; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.right_wrapper a{
    color: white;
    text-decoration: none;

}


/* .right_wrapper img{
    width: 10px;
} */



.right_wrapper p{
    font-size: 10px;
}


.language{
    width: 100px;
    display: flex;
    padding: 10px;
}

.language select{
    color: white;
    border: none;
    background-color: #ff6200;
    font-weight: 700;
    width: 50px;
}
.language img{
    width: 20%;
}

.cart{
    position: relative;
}
.cart span{
    position: absolute;
    right: 10px;
    top: -10px;
}

.cart .cart_Text{
    top: 15px;
    right: -20px;
    font-size: 12px;
    
}

.left_wrapper a:hover,
.search_wrapper a:hover,.right_wrapper a:hover {
    border: 1px solid white;
    border-radius: 5px;
}


/* lower header */
.lower_Header{
    width: 100%;
    background-color: #e4691c;
    padding: 3px;
   
}
.lower_Header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: 20px;
    width: 50%;
    color: white;
    font-weight: 500;
    padding: 10px;
}

.lower_Header ul li:first-child {
    display: flex;
}